<div class="bg-zinc-800 flex flex-row justify-center">
  <div class="mb-24">
    <div class="">
      <div class="justify-items-center grid">
        <p class="text-zinc-400 text-xs p-3 pitalic mt-24">
          <i>Every project starts with one question</i>
        </p>
        <h2 class="text-white text-3xl px-44 text-center">
          What’s the maximum amount of value we can contribute?
        </h2>
      </div>

      <div class="flex">
        <div class="flex-1 mt-6">
          <h3 class="text-white text-2xl mx-8 mt-8 mb-4">
            We build software that builds your bottom line.
          </h3>
          <p class="text-white text-xs mx-8">
            Our Founders and Product Directors have years of experience bringing
            products to market that drive revenue. Now, let us do it for you.
          </p>
        </div>
        <div class="flex-1 mt-8">
          <p class="text-white text-xs mt-5 mb-4 mr-8">
            Whether you’re a start-up or a Fortune 500 company, our team can
            take you to the next level.
          </p>
          <p class="text-white text-xs mr-8 mb-8">
            We don’t just build your software, we help you grow your business.
          </p>
          <a href="" class="text-white underline m-8">Get to know us</a>
        </div>
      </div>
    </div>
  </div>
</div>
