<div
  class="fixed w-full h-full video-container brightness-50"
  data-testId="container">
  <video
    preload="auto"
    autoplay
    playsinline
    loop
    muted
    class="w-full absolute inset-0 h-full object-cover"
    data-testId="video">
    <source [src]="videoWebm" type="video/webm" data-testId="videoWebm" />
    <source [src]="videoMp" type="video/mp4" data-testId="videoMp" />
    <source [src]="videoOgv" type="video/ogg" data-testId="videoOgv" />
  </video>
</div>
<div class="pt-20 pb-28 px-7 mt-8" data-testId="container-text">
  <div class="mb-6" data-testId="container-title">
    <h1 class="text-white h1 text-7.5xl" data-testId="h1">
      {{ titleText1 }} <i> {{ textStyle }} </i>
    </h1>
    <h2 class="text-white h1 text-7.5xl" data-testId="h2">{{ titleText2 }}</h2>
  </div>
  <p class="text-white grid grid-cols-2 text-sm mb-10" data-testId="p">
    {{ bodyText }}
  </p>
  <a href="" class="text-white underline p-3 text-sm" data-testId="i"
    ><small>{{ linkText }}</small></a
  >
</div>
